p{
    font-family: arial;
    
    margin-top: 0;
    margin-bottom: 0;
}

body{
    background-color: rgb(245, 245, 245);
    padding-left: 96px;
    padding-right: 24px ;
    margin: 0;
}
a {
    color: black;
  text-decoration: none;
}
