.header{
    background-color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom-width: 2px;
    border-bottom-style: solid ;
    border-bottom-color:rgb(221, 216, 216) ;
}



.left-section{

    display: flex;
    align-items: center;
}

.menu{
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
.y-logo{
    height: 20px;   
}





.right-section{
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    flex-shrink: 0;
    
}
.noti-no{
    padding-bottom: 2px;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    font-size: 12px;
    font-family: roboto,arial;
    background-color: rgb(200, 0, 0);
    border-radius: 100px;
    top: 0px;
    right: 0px;
    position: absolute;
}
.noti,.apps,
.upload{
    height: 35px;
    
}
.my-ch{
    height: 35px;
    border-radius: 15px;   
}





.middle-section{
   
    flex: 1;
    max-width: 500px;
    margin-right: 35px;
    margin-left: 70px;
    display: flex;
    align-items: center;
}
.search::placeholder{
    font-size: 16px;
    font-family: roboto,Arial ;
}
.search{
    width: 0;
    flex: 1;
    height: 36px;
    padding-left: 16px;
    border-width: 1px;
    font-size: 16px;
    border-style: solid;
    border-color: rgb(193, 191, 191);
    border-radius: 2px;
    box-shadow: inset 0px 0px 1px rgb(0, 0, 0.05);
    outline: none;
}
.sea{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(193, 191, 191);
    background-color: rgb(241,241,241);
    height: 40px;
    width: 66px;
    margin-left: -1px;
}
.imgsearch{
    height: 27px;
}
.imgvoice{
    height: 25px;
}
.voice{
    background-color: rgb(241,241,241);
    margin-left: 10px;
    border-radius: 30px;
    border: none;
    width: 40px;
    height: 40px;
}
.right-section img{
    cursor: pointer;
}
.sea,.voice{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.sea .tooltip,.voice .tooltip{
    background-color: rgb(107, 104, 104);
    color: white;
    font-size: 12px;
    font-family: roboto,arial;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    position: absolute;
    bottom: -30px;
    opacity: 0;
    transform: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;

    
}
.sea:hover .tooltip,.voice:hover .tooltip{
    opacity: 1;
}



